.form-container form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.7em;
}

input {
  width: 100%;
  padding: 8px; /* 내부 여백 */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 테두리와 패딩 포함하여 전체 너비 계산 */
}

button {
  width: 100%;
}
