:root {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -2px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e9e9ee;
}

.logo {
  position: absolute;  
  top: 0;             
  left: 0;             
  width: 200px;        
  height: auto;         
  margin: 20px;       
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 (필요시) */
  height: 100vh;
  text-align: center;
}

.form-container {
  background-color: #ffffff;
  padding: 20px; /* 컨테이너의 내부 여백 */
  border-radius: 20px;
  width: 700px; /* 컨테이너 너비 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  margin: 400px; /* 위아래 여백 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  position: absolute;
  top: 20%;        
  left: 50%;       
  transform: translate(-50%, -50%);
  margin: 0;
}

.form-container form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.7em;
}

input {
  width: 100%;
  padding: 8px; /* 내부 여백 */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 테두리와 패딩 포함하여 전체 너비 계산 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
